@import './base.css';

body {
  padding: 2.5rem;
  background-color: rgba(173, 216, 230, 0.26);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: center;
}

input {
  background-color: rgba(173, 216, 230, 0.26);
  border: 0;
}

a,
.green {
  text-decoration: none;
  color: rgb(0, 217, 255);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: #bcbdc0;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
}

.input-row {
  display: flex;
  justify-content: space-between;
  width: 200px;
}